.authentication{
    padding: 80px 0;

    .form-group{
        padding: 10px;

        .form-control{
            height: 50px;
            border-radius: 10px;
            box-shadow: 0 0 0 0;
            outline: none;
            border: 1px solid $border-color;
        }

        .btn-theme{
            height: 50px;
            padding: 0 20px;
            border-radius: 10px;
        }

    }

}
