.home {
    padding: 40px 0;

    .slider{
        height: 500px;
        object-fit: cover;
    }

    .product {
        position: relative;

        &:hover {

            .product-image-hover {
                transform: scale(1.2);
            }

            .cart-position {
                visibility: visible;
                opacity: 1;
                bottom: 10px;
            }

        }

        .product-image-hover {
            transform: scale(1);
            transition: 0.4s all ease-in-out;
        }

        .cart-position {
            position: absolute;
            right: 10px;
            bottom: 0;
            visibility: hidden;
            opacity: 0;
            transition: 0.4s all ease-in-out;
            z-index: 10;

            .text-des {
                margin-left: 10px;

                @media screen and (max-width: 500px) {
                    display: none;
                }

            }

        }

    }

}
