.profile{
    width: 100%;

    .customer-wrapper{
        display: flex;
        overflow: hidden;
        position: relative;

        .customer-sidebar{
            width: 270px;
            height: 75vh;
            border: 1px solid $border-color;

            @media screen and (max-width: 991px) {
                position: absolute;
                top: 0;
                left: -270px;
                background-color: $white;
                transition: 0.3s all ease-in-out;
                z-index: 30;

                &.active{
                    left: 0;
                }

            }

            .customer-sidebar-header{
                width: 100%;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid $border-color;
                padding: 0 20px;

                @media screen and (max-width: 991px) {
                    justify-content: space-between;
                }

                .link{
                    text-decoration: none;
                    color: $black;
                    padding: 10px 20px;
                    display: inline-block;
                    font-size: 20px;
                    font-weight: bold;
                }

                .close-btn{
                    display: none;
                    padding: 5px 10px;

                    @media screen and (max-width: 991px) {
                        display: inline-block;
                        color: $black;

                        &:hover{
                            background-color: $border-color;
                        }

                    }

                }

            }

            .customer-sidebar-body{
                width: 100%;
                height: calc(75vh - 140px);
                padding: 20px;

                .sub-link{
                    text-decoration: none;
                    color: $black;
                    padding: 10px 20px;
                    display: block;
                    font-size: 13px;
                    font-weight: bold;
                    transition: 0.3s all ease-in-out;
                    margin-bottom: 10px;

                    &:hover{
                        background-color: $border-color;
                    }

                    &.router-link-active{
                        background-color: $border-color;
                    }

                }

            }

            .customer-sidebar-footer{
                border-top: 1px solid $border-color;
                width: 100%;

                .logout-btn{
                    height: 70px;
                    text-decoration: none;
                    color: $black;
                    padding: 10px 20px;
                    font-size: 13px;
                    font-weight: bold;
                    display: flex;
                    justify-content: start;
                    align-items: center;

                    &:hover{
                        background-color: $border-color;
                    }

                }

            }
        }

        .customer-content{
            width: calc(100% - 270px);
            height: 75vh;
            border: 1px solid $border-color;

            @media screen and (max-width: 991px) {
                width: 100%;
            }

            .customer-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 70px;
                padding: 0 20px;
                border-bottom: 1px solid $border-color;

                .btn-controller{
                    padding: 5px 10px;
                    display: none;
                    color: $black;

                    @media screen and (max-width: 991px) {
                        display: inline-block;
                    }

                    &:hover{
                        background-color: $border-color;
                    }

                }

            }

            .content-inner-content{
                width: 100%;
                height: calc(75vh - 70px);
                padding: 20px;
                overflow-y: scroll;

                .pagination{
                    .page-item{

                        &.active .page-link{
                            background-color: $black;
                            color: $white;
                            border: 1px solid $black;
                        }

                        .page-link{
                            width: 35px;
                            height: 35px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: 0 5px;
                            color: $black;
                            border: 1px solid $border-color;
                            box-shadow: 0 0 0 0;
                            font-weight: bold;

                            @media screen and (max-width: 600px) {
                                width: 30px;
                                height: 30px;
                                font-size: 12px;
                                margin: 0 2px;
                            }

                        }
                    }
                }

                .modal{
                    .modal-dialog{
                        .modal-content{
                            .modal-body{
                                .icon-size{
                                    font-size: 90px;
                                }
                                .delete-text{
                                    font-size: 30px;
                                }
                            }
                        }
                    }
                }

            }

        }

    }

}
