.shop{
    padding: 80px 0;

    .form-control{
        height: 50px;
        box-shadow: 0 0 0 0;
        border-color: $border-color;
    }

    .form-select{
        height: 50px;
        box-shadow: 0 0 0 0;
        border-color: $border-color;
    }

    .product {
        position: relative;

        &:hover {

            .product-image-hover {
                transform: scale(1.2);
            }

            .cart-position {
                visibility: visible;
                opacity: 1;
                bottom: 10px;
            }

        }

        .product-image-hover {
            transform: scale(1);
            transition: 0.4s all ease-in-out;
        }

        .cart-position {
            position: absolute;
            right: 10px;
            bottom: 0;
            visibility: hidden;
            opacity: 0;
            transition: 0.4s all ease-in-out;
            z-index: 10;

            .text-des {
                margin-left: 10px;

                @media screen and (max-width: 500px) {
                    display: none;
                }

            }

        }

    }

    .pagination{
        .page-item{

            &.active .page-link{
                background-color: $black;
                color: $white;
                border: 1px solid $black;
            }

            .page-link{
                box-shadow: 0 0 0 0;
                color: $black;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 5px;
                border-radius: 6px;

                @media screen and (max-width: 600px) {
                    width: 30px;
                    height: 30px;
                    margin: 0 2.5px;
                }

            }
        }
    }

}
