.btn-theme {
    padding: 5px 15px;
    display: inline-block;
    text-decoration: none;
    color: $white !important;
    background-color: $teal !important;
    outline: none;
}

.text-teal {
    color: $teal;
}

.pagination {
    .page-item {
        &.active .page-link {
            background-color: $black;
            color: $white;
            border: 1px solid $black;
        }

        .page-link {
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 5px;
            color: $black;
            border: 1px solid $border-color;
            box-shadow: 0 0 0 0;
            font-weight: bold;
            border-radius: 6px;
            @media screen and (max-width: 600px) {
                width: 30px;
                height: 30px;
                font-size: 12px;
                margin: 0 2px;
            }
        }
    }
}

.padding-top-content{
    padding-top: 120px;
}

.no-data-founded{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $border-color;
    margin-bottom: 30px;
}
