.btn-theme{
    padding: 5px 15px;
    display: inline-block;
    text-decoration: none;
    color: $white !important;
    background-color: $teal !important;
    outline: none;
}

.text-teal{
    color: $teal;
}
