.front-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    padding: 0 20px;

    .company_name{
        text-decoration: none;
        color: $black;
        padding: 10px 20px;
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
    }

    .menu-icon-btn{
        text-decoration: none;
        color: $black;
        padding: 10px 20px;
        display: none;
        font-size: 20px;
        transition: 0.4s all ease-in-out;
        border-radius: 6px;

        @media screen and (max-width: 991px) {
            display: inline-block;
        }

        &:hover{
            background-color: $white;
        }

    }

    .menu-group-link{
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @media screen and (max-width: 991px) {
            position: fixed;
            right: -300px;
            top: 0;
            width: 300px;
            height: 100%;
            display: block;
            background-color: $white;
            box-shadow: 0 0 8px 0 $gray;
            padding: 20px;
            transition: 0.4s all ease-in-out;
            z-index: 99999;

            &.active{
                right: 0;
            }

        }

        .menu-close{
            display: none;
            text-decoration: none;
            color: $black;
            border-radius: 6px;

            @media screen and (max-width: 991px) {
                display: inline-block;
                padding: 10px 20px;
                margin: 10px 0;
                transition: 0.4s all ease-in-out;

                &:hover{
                    background-color: $white;
                }

            }

        }

        .menu-link{
            text-decoration: none;
            color: $black;
            padding: 10px 20px;
            margin: 0 5px;
            transition: 0.4s all ease-in-out;
            border-radius: 6px;

            @media screen and (max-width: 991px) {
                display: block;
                margin: 10px 0;
            }

            &:hover{
                background-color: $white;
            }

            &.active{
                background-color: $white;
            }

        }

    }

    .cart-right-box{
        position: fixed;
        right: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        background-color: $white;
        box-shadow: 0 0 8px 0 $gray;
        transition: 0.4s all ease-in-out;

        &.active{
            right: 0;
        }

        .cart-header{
            width: 100%;
            height: 70px;
            padding: 20px;
            border-bottom: 1px solid $border-color;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .x-btn{
                text-decoration: none;
                color: $black;
                display: inline-block;
                padding: 5px 10px;
                border-radius: 6px;
                font-weight: bold;

                &:hover{
                    background-color: $border-color;
                }

            }

        }

        .cart-body{
            width: 100%;
            height: calc(100vh - 240px);
            overflow-y: scroll;

            .empty{
                height: 100%;
                background-color: $white;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px;
                font-weight: bold;
            }

            .item{
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                img{
                    width: 70px;
                    height: 70px;
                    border-radius: 20px;
                    border: 1px solid $border-color;
                }

                .product-info{
                    margin-left: 10px;

                    button{
                        width: 30px;
                        height: 30px;
                        border: none;
                        color: $black;
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:hover{
                            color: $black;
                            background-color: $border-color;
                        }

                    }

                    .quantity{
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .qty{
                            width: 30px;
                            text-align: center;
                        }
                    }

                }

            }

        }

        .cart-footer{
            width: 100%;
            height: 270px;
            border-top: 1px solid $border-color;

            .cart-details{
                width: 100%;
                height: 100px;

                .cart-flex{
                    padding: 0 20px;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .cart-desc{
                        font-weight: bold;
                    }

                    .cart-amount{
                        font-weight: bold;
                    }

                }

            }

            .btn-checkout{
                height: 70px;
                text-decoration: none;
                color: $white;
                background-color: $teal;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0;
            }

        }

    }

}
